<div class="text-center py-8">
  <p class="text-gray-600">Preview not available for this file type.</p>
  <%= link_to "Download File",
  url_for(file_entry.file),
  class:
    "mt-4 inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700",
  target: "_blank" %>
</div>
