<div class="flex items-center justify-center h-[75vh]">
  <iframe
    src="<%= rails_blob_path(file_entry.file, disposition: 'inline') %>"
    class="w-full h-full border-0"
    type="application/pdf"
  >
  </iframe>
</div>
